.h-100vh {
  min-height: 100vh !important;
}

.my-10 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}

.banner {
  background-image: url("https://images.pexels.com/photos/1087727/pexels-photo-1087727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
}

.banner-notes,
.blog-resource p,
.story-resource p {
  background-color: rgba(58, 58, 58, 0.479) !important;
}

.features,
.company,
.popular-categories {
  background-color: blanchedalmond;
}

.link:hover {
  color: lightseagreen !important;
}

.blog-resource {
  background-image: url("https://images.pexels.com/photos/768474/pexels-photo-768474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
}

.story-resource {
  background-image: url("https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a:active
{
  color: mediumblue;
}

#navbar li a:hover::after,
#navbar li a.active::after
{
  content: "";
  width: 30%;
  height: 2px;
  background: mediumblue;
  position: absolute;
  bottom: -4px;
  left: 20px;
}